[
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
  {
    "action": "{{ list[4]|trim() }}",
    "enabled": true,
    "type": "AccessRule",
    "name": "{{ list[0]|trim() }}",
    "logFiles": false,
    "logBegin": false,
    "logEnd": false,
    "sourceNetworks": {
      "literals": [
        {
          "type": "Network",
          "value": "{{ list[2]|trim() }}"
        }
      ]
    },
    "destinationNetworks": {
      "literals": [
        {
          "type": "Network",
          "value": "{{ list[3]|trim() }}"
        }
      ]
    },
    "newComments": [
      "Rule Add by Ansible"
    ]
  }
  {%   endif %}
  {% endfor %}
]
